
  <form [formGroup]="emergencyContactForm">

    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field [floatLabel]="'never'" appearance="outline">
            <mat-label>Name<sup class="text-danger">*</sup></mat-label>
            <input formControlName="name" matInput placeholder="Enter Name" type="text">
            <mat-icon class="mr-2" matPrefix>badge</mat-icon>
            <mat-error *ngIf="emergencyContactForm.controls.name.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field [floatLabel]="'never'" appearance="outline">
            <mat-label>Priority<sup class="text-danger">*</sup></mat-label>
            <input formControlName="priority" mask="0*" matInput placeholder="Enter priority">
            <mat-icon class="mr-2" matPrefix>priority_high</mat-icon>
            <mat-error *ngIf="emergencyContactForm.controls.priority.hasError('required')">
              Priority is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field [floatLabel]="'never'" appearance="outline">
            <mat-label>Relation<sup class="text-danger">*</sup></mat-label>
            <input formControlName="relation" matInput placeholder="Enter relation" type="text">
            <mat-icon class="mr-2" matPrefix>connect_without_contact</mat-icon>
            <mat-error *ngIf="emergencyContactForm.controls.relation.hasError('required')">
              Relation is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field [floatLabel]="'never'" appearance="outline">
            <mat-label>Phone No.<sup class="text-danger">*</sup></mat-label>
            <input formControlName="phone" mask="0000000000" matInput placeholder="Enter Phone No." type="tel">
            <mat-icon class="mr-2" matPrefix>phone</mat-icon>
            <mat-error *ngIf="emergencyContactForm.controls.phone.hasError('required')">
              Phone No. is required
            </mat-error>
            <mat-error *ngIf="emergencyContactForm.controls.phone.hasError('mask')">
              Invalid Phone No.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="mx-5 col">
          <button (click)="resetForm()" [disableRipple]="true" class="btn-sm btn-danger mr-4" mat-raised-button
                  type="button">
            Reset
          </button>

          <button (click)="onAdd()" [disableRipple]="true" [disabled]="emergencyContactForm.invalid"
                  class="btn-sm btn-danger" mat-raised-button type="button">
            Add
          </button>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="userRegistrationForm" class="mt-4">
    <table formArrayName="emergencyContact">
      <tr>
        <th>Name</th>
        <th>Priority</th>
        <th>Relation</th>
        <th>Phone</th>
      </tr>
      <tbody *ngIf="emergencyContactFormArray.controls.length else noData">
      <tr *ngFor="let data of emergencyContactFormArray.controls; let i = index" [formGroupName]="i">
        <td>{{data.value.name}}</td>
        <td>{{data.value.priority}}</td>
        <td>{{data.value.relation}}</td>
        <td>{{data.value.phone}}</td>
      </tr>
      </tbody>
    </table>
  </form>
<ng-template #noData>
  <td [colSpan]="5" class="font-italic text-center">No data to display</td>
</ng-template>
